*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
   
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(images/clg.jpg);
    background-size: cover;
    background-position: center;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
   
}
.top{
    width: 100%;
    height: 100px;
    background: rgba(71, 128, 233, 0.82);
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}
.logo-img{
    width: 25%;
}

.logo-img img{
    width: 50px;
  
}
.logo-img a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-img h1{
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-left: 25px;
}
.menu{
    width: 40%;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.menu ul li{
    position: relative;
}
.menu ul li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffff;
    bottom: -7px;
    left: 0;
    transition: .5s all ease-in-out;
}
.menu ul li:hover:after{
    width: 72%;
}
.menu ul li a{
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 25px;
    transition: 0.3s all ease-in-out;
}
.menu ul li a:hover{
    color: rgb(9, 56, 143);
}
.info{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
}
.info h1{
    color: #ffff;
  font-size: 40px;
    font-family: sans-serif;
}
.info p{
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
}